@CHARSET "UTF-8";

body, form, input {
    font-family: "helvetica neue", helvetica, "lucinda sans unicode", "sans serif";
    font-weight: normal;
    color: #333;
    padding: 0;
    border: 0;
    margin: 0;
    font-size: 12px;
    text-align:center;
}

input {
    text-align:left;
}

header {
    width: 100%;
    min-height:200px;
    background: #d1e0e1;
    color: #333;
    font-weight: bold;
    font-size: 40px;
    padding-top: 20px;

}

#nav-menu {
    margin-top:-35px;
}

#search {
    width:40%;
    height:40px;
    font-size:20px;
    padding-left:10px;
}

#title {
    font-weight:bold;
    font-size:30px;
}

#nav {
    height: 100px;
}

footer {
    background: #d1e0e1;
    height: 80px;
    padding-top: 30px;
    border-top: solid 1px;
}

li {
    display: inline;
    font-size: 14px;
    font-family: "helvetica neue", helvetica, "lucinda sans unicode", "sans serif";
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px;
}

li:hover {
    color: blue;
}

main {
    min-height: 500px;
    background: #f0f8ff;
    padding-top: 50px;
    margin-top: -50px;
    border-top: solid 1px;
}

label {
    display: block;
    padding: 8px 0 8px 0;
    color: #333;
}

input, textarea {
    border-radius: 3px;
    height: 24px;
    border: 1px solid #AAA;
    padding: 0 7px;
}

textarea {
    height: 80px;
}

#flash {
    background: #1cdb4f;
    height: 30px;
    padding-top:15px;
    padding-bottom:15px;
    border-top: 1px solid;
}


.heading {
    text-align: left;
    margin-left: 20%;
}

#query {
    font-weight: bold;
}

.upvote {
    background-color: green;
    font-size: 20px;
    font-weight: bold;
}

.downvote {
    background-color: red;
    font-size: 20px;
    font-weight: bold;
}

table, tr {
    margin: auto;
    width: 60%;
    text-align: center;
}

