<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <title>KYLEdictionary - {{ today }}</title>
    </head>

    <body>
    <header>
        <p id="title">KYLEdictionary - {{ today }}</p>

        <form action="/search" method=post>
            <input id="search" type="text" name="search" placeholder="Type any word here...">
        </form>

        <div id="nav-menu">
            <ul id="menu-home">
                <li id="menu-item-1" class="menu-item"><a href={{ url_for('index') }}>Most Recent</a></li>
                <li id="menu-item-2" class="menu-item"><a href={{ url_for('popular') }}>Most Popular</a></li>
                <li id="menu-item-3" class="menu-item"><a href="{{ url_for('new_entry') }}">Add definition</a></li>
            </ul>
        </div>
    </header>
    <div id="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="flash">
        {% for message in messages %}
            <p> {{ message }} </p>
        {% endfor %}
        </div>
        {% endif %}
    {% endwith %}
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Page rendered at {{ time }} on {{ today }}</p>
    </footer>
    </body>

</html>
