<tr class="record">

<td class="upvote">
    <a href="{{ url_for('upvote', record_id = record.id) }}">
        {{ record.votes_for }}
        <h6>Click to vote</h6>
    </a>
</td>

<td class="details">
    <h2 class="word">{{ record.word.capitalize() }}</h2>


    <p class="author">Posted by {{ record.author }} on {{ record.timestamp }}</p>

    <p class="meaning"> {{ record.meaning }}</p>
    <p class="example"> {{ record.example }}</p>
</td>

<td class="downvote">
    <a href=" {{url_for('downvote', record_id = record.id) }}">
        {{ record.votes_against }}
        <h6>Click to vote</h6>
    </a>
</td>


</tr>

